body {
    border-style: solid;
    border-color: yellow;
    padding: 100px;
    background-color: black;
    font-size: 20px;
    max-width: 2048px;
}



nav {
    display: flex;
    color: yellow;

}

hr {
    border-color: yellow;
}


header h3{
    text-align: center;
    color: red;
    padding-bottom: 50px;
}

#main-eps{
    color: white;
}

#section-eps{
    display: flex;
    flex-wrap: wrap;
}

#section-eps div{
    display: block;
    justify-content:space-between;
    align-items: center;
}

#section-eps p{
    margin-right: 150px;
}

ul{
    list-style: none;
    display: inline-flex;
    border: 2px solid wheat;
}

ul a{
    background-color: blue;
    text-decoration: underline;
}

li{
    padding: 10px;
}

#parsas{
    margin: auto;
    color: yellow;
    padding: 50px;
}

#aviso {
    width: 100%;
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

#governo {
    width: 100%;
    color: white;
}

b {
    background-color: red;
    color: black;
}

a {
    margin-right: 25px;
    color: white;
    text-decoration: none;
}

p {
    text-align: center;
    color: red;
}

article {
    width: 100%;
    color: white;
    display: flex;
}

#left-side{
    display: flex;
    justify-content: space-between;
}

#membros{
    padding-top: 50px;
}

#right-site{
    display: flex;
    justify-content:space-between;
    width: 25%;
}

#ouça-main {
    font-size: 30px;
}

#mecenas {
    width: 195px;
    height: 288px;
}

section {
    display: flex;
}

.painel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#logos{
    border: 2px solid black;
    border-radius: 40px;
    transition: ease-out 0.5s;

}

#logos:hover{
    cursor: wait;
    transition: ease-out 0.5s;
    height: 300px;
    width: 300px;
}

.imagem {
    width: 195px;
    height: 236px;
}

.pan-image {
    margin-left: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.taxado {
    text-decoration: line-through;
}

.hora {
    color: rgb(64, 255, 64);
    font-family: 'Orbitron';
}

.red {
    color: red;
}

.white {
    color: white;
}

.yellow {
    color: yellow;
}

.magenta {
    color: magenta;
}

#voltartopo{
    color: yellow;
}